<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>Network Device Scanner</title>
  </head>
  <body>
    {% block body %} {% endblock %}
    
    <script>
      function openModal() {
          document.getElementById("customModal").style.display = "block";
      }

      function closeModal() {
          document.getElementById("customModal").style.display = "none";
      }

      window.onclick = function(event) {
          let modal = document.getElementById("customModal");
          if (event.target == modal) {
              closeModal();
          }
      }
    </script>

    <script>
      function openUpdateModal(mac, description) {
        const modal = document.getElementById('updateModal');
        const form = document.getElementById('updateForm');

        document.getElementById('updateMac').value = mac;
        document.getElementById('updateDescription').value = description;

        form.action = `/update/${mac}`;
        modal.style.display = 'block';
      }

      function closeUpdateModal() {
        document.getElementById('updateModal').style.display = 'none';
      }
    </script> 

    <script>
      function openAddModal(mac) {
          document.getElementById("addModal").style.display = "block";
          document.getElementById("addMac").value = mac;
      }

      function closeAddModal() {
          document.getElementById("addModal").style.display = "none";
      }

      window.onclick = function(event) {
          let modal = document.getElementById("addModal");
          if (event.target == modal) {
              closeAddModal();
          }
      }
    </script>

  </body>
</html>
